/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

body,
html {
	width: 100%;
	min-height: 100vh;
	background: url(https://pixabay.com/get/gb249de3e82180ca3afee9c1e2d567a57405e2bbcd4f7e325271e7fe398e161716cd20dc56ebd70c81f26f36234389f6db29ed3d77dffe9d66154f7106c89385e30bb9211c9307525b1fded7233b25da9_1920.jpg)
		no-repeat center center;
	background-size: cover;
	background-color: #ddd;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-family: 'Poppins', sans-serif;
}
